@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap");

:root {
	/* Primary */
	--BrigthOrange: hsl(31, 77%, 52%);
	--DarkCyan: hsl(184, 100%, 22%);
	--VeryDarkCyan: hsl(179, 100%, 13%);

	/* Neutral */
	--TransWhite: hsla(0, 0%, 100%, 0.75);
	--VeryLightGray: hsl(0, 0%, 95%);
	--VeryLightGrayHover: hsla(0, 0%, 80%);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	height: auto;
	/* width: 375px; */
	border: solid 1px;
	background-color: var(--VeryLightGray);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-size: 15px;
}

.card {
	display: flex;
	flex-direction: column;
	background-color: blueviolet;
	border-radius: 10px;
	overflow: hidden;
	width: 340px;
	margin: 2rem;
	margin-top: 4rem;
	margin-bottom: 3rem;
}

.car-card {
	border: solid 1px;
	padding: 3rem;
}

img {
	margin-bottom: 0.75rem;
}

h1 {
	margin-top: 0.75rem;
	margin-bottom: 1.75rem;
	color: var(--VeryLightGray);
	font-family: "Big Shoulders Display", sans-serif;
	font-size: 38px;
}

p {
	margin-top: 2rem;
	margin-bottom: 1rem;
	color: var(--TransWhite);
	font-family: "Lexend Deca", sans-serif;
	line-height: 25px;
}

input {
	background-color: var(--VeryLightGray);
	font-family: "Lexend Deca", sans-serif;
	padding: 1rem;
	padding-left: 2rem;
	padding-right: 2rem;
	border-radius: 25px;
	margin-top: 1rem;
	border: none;
	cursor: pointer;
}
.button1 {
	color: var(--BrigthOrange);
}
.button2 {
	color: var(--DarkCyan);
}
.button3 {
	color: var(--VeryDarkCyan);
}

input:hover {
	background-color: var(--VeryLightGrayHover);
}

input:active {
	background-color: transparent;
	box-shadow: 0px 0px 0px 2px white inset;
	color: white;
}

.sedans {
	background-color: var(--BrigthOrange);
}

.suvs {
	background-color: var(--DarkCyan);
}

.luxury {
	background-color: var(--VeryDarkCyan);
}

.attribution {
	font-size: 11px;
	text-align: center;
}
.attribution a {
	color: hsl(228, 45%, 44%);
}

@media (min-width: 1240px){
	.card{
		flex-direction: row;
		width: 67%;
	}
	p{
		margin-bottom: 4rem;
	}
}
